.open-sans-normals {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* shared style  */
.my-image {
    width: 600px;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

/* nav style */
.header {
    background: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}

.banner-content a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul li {
    list-style: none;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* banner style  */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 35px 0px 200px;
}

.banner-content {
    margin: 20px;
    padding: 20px;
}

/* about */
.about {
    padding: 130px 250px;
    margin: 130px 0px;
    text-align: center;

}

.about-section {
    padding: 130px 150px;
    border-radius: 10px;
}

.about-items {
    display: flex;
    margin: 0px auto;
    justify-content: space-around;

}

.section-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px;

}

.about-description {
    font-size: 18px;
    color: #8d8d8d;
    margin-bottom: 60px;
}

.item-title {
    font-size: 20px;
    color: #8d8d8d;
    margin-bottom: 10px;
}

.item-description {
    font-weight: 600;
}

/* skills style start    */

.skills-section {
    padding: 130px 250px;
    margin: 130px 0px;
    text-align: center;

}

.skills-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    gap: 80px;
}

.skill {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    padding: 20px 40px;
}

/* resume section start  */
.resume {
    padding: 0px 250px;
    margin: 130px 0px;

}

.skills-title {
    text-align: center;
}

.resume-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    gap: 80px;
}

.experience-sub-title,
.experience-description {
    color: #adacac;
}

.cv {
    display: block;
    margin: 100px auto;

}

/* contact section style start  */
.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 130px 250px;  
}
.contact-description{
    padding: 0px 150px;
}
.messaging-area{
    padding: 0px 150px;
}
.social-media a{
    margin: 0px 20px 0px 0px;
}
.social-media {
    margin: 30px 0px;
}
footer input[type="text"]{
    height: 64px;
    width: 400px;
    border-radius: 5px;
    background-attachment: white;
    border: none;
    padding: 0px 20px;
    margin: 10px 0px;
}
footer input[type="email"]{
    height: 64px;
    width: 400px;
    border-radius: 5px;
    background-attachment: white;
    border: none;
    padding: 0px 20px;
}
footer textarea{
    height: 200px;
    width: 400px;
    border-radius: 5px;
    background-attachment: white;
    border: none;
    padding: 20px;
    margin: 10px 0px;
}


/* responsive media query */
@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }
    .response{
        flex-direction: column;
    }
    .banner-content {
        text-align: center;
    }
    .banner-content button {
        margin-top: 10px;
    }

    .about, .skills-section, .resume {
        padding: 130px 20px;
    }

    .about-items, .contact-section, .skills-container, .resume-container {
        flex-direction: column;
        gap: 40px;
    }

    .contact-section {
        flex-direction: column;
        gap: 40px;
    }

    footer input[type="text"],
    footer input[type="email"],
    footer textarea {
        width: 100%;
    }
    .social-media {
        display: flex;
        flex-direction: row;
    }
    .contact-section {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        gap: 40px; 
        text-align: center;
    }
    .messaging-area{
        margin: 10px;
        padding: 10px;
        gap: 40px; 
        text-align: center;
    }
}